<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>供应商功能配置</title>
	</head>
	<body>
		<hr>
		<h1 class="antH1">供应商功能配置</h1>
		<div class="antBaseJoin antBaseSupJoin">
			<a href="javascript:void(0);"> + 新增  </a>
		</div>
		<div class="antBaseTableA" style="margin-left:20px">
			<div class="antBaseTableAll">
				<labal  class="antActivecheckbox">登录</labal>
				<labal>注册</labal>
				<labal>新增商品</labal>
				<labal>商品维护</labal>
				<labal class="antActivecheckbox">销售日报</labal>
				<labal>销售周报</labal>
				<labal>销售月报</labal>
				<labal>销售年报</labal>
				<labal class="antActivecheckbox">结算日报</labal>
				<labal>结算周报</labal>
				<labal class="antActivecheckbox">结算月报</labal>
				<labal>结算年报</labal>
				<labal>采购订单</labal>
				<labal>销售订单</labal>
				<labal>账号管理</labal>
				<labal>消息管理</labal>
				<labal>促销管理</labal>
				<labal>结算账户</labal>
				<labal>积分管理</labal>
				<labal>评价体系</labal>
			</div>
		</div>
	</body>
</html>
